.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards_line {
  display: flex;
  gap: 20px;
}
